{% extends 'base.html' %}
{% block content %}
<h1>Аутентификация</h1>
{% if form.errors %}
    <div class="alert-danger">
        <p>Не правильный логин или пароль</p>
    </div>
{% endif %}
{% if user.is_authenticated %}
    <p>Вы уже авторизованы. <a href="{% url 'logout' %}">Выйти</a></p>
{% else %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            {{form}}
        </table>
        <input type="submit" value="Войти">
        <input type="hidden" name="next" value="{{ next }}">

    </form>

{% endif %}
{% endblock %}